2.ETL/pipeline/Load_cotations.json
{
	"name": "Load_cotations",
	"properties": {
		"activities": [
			{
				"name": "For each company",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load Company List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load Company List').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Load Cotation",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['fclose']"
											},
											"sink": {
												"name": "Closing_Price",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['fhigh']"
											},
											"sink": {
												"name": "High_Price",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['flow']"
											},
											"sink": {
												"name": "Low_Price",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['fopen']"
											},
											"sink": {
												"name": "Opening_Price",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['fvolume']"
											},
											"sink": {
												"name": "Volume",
												"type": "Int32"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "API_Connection",
									"type": "DatasetReference",
									"parameters": {
										"Symbol": {
											"value": "@item()",
											"type": "Expression"
										},
										"token": {
											"value": "@pipeline().parameters.token",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Stock_Price_Table",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Load Company List",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "LoadCompanyListByIndex",
						"type": "DataFlowReference",
						"parameters": {
							"IndexList": {
								"value": "@variables('SelectIndex')",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"token": {
				"type": "string",
				"defaultValue": "pk_6ba69ebc7b0b4b959a5e0936f82c5699"
			}
		},
		"variables": {
			"SelectIndex": {
				"type": "Array",
				"defaultValue": [
					"['CAC40']"
				]
			}
		},
		"annotations": []
	}
}